@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Signika:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif;
  scroll-behavior: smooth;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}









input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}
.image-wrap {
  overflow: hidden;
  margin: 50px auto;
}
.image-wrap img {
  object-fit: cover;
  object-position: top center;
  transition: all 1.5s ease-in-out;
}
.image-wrap:hover img {
  object-position: bottom center;
}


.card{
  border-radius: 25px;
  background-color: #FFF;
}


.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #880122;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}